################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarApiTest/bin/Debug/net8.0
/CarApiTest/obj
/CarsApi/obj
/CarsApi/.vs/Cars
